/* semantic color variables for this project */
:root {
    --color-background-rgb: 21, 30, 34;
    --color-background-soft-rgb: 48, 68, 77;
    --color-background-highlight-rgb: 82, 133, 155;

    --color-background: rgb(21, 30, 34);
    --color-background-soft: rgb(48, 68, 77);
    --color-background-mute: rgb(34, 49, 55);
    --color-background-highlight: rgb(82, 133, 155);

    --color-border: rgb(91, 120, 133);
    --color-border-shadow: rgb(48, 68, 77);
    --color-border-hover: rgb(100, 135, 151);

    --color-heading-bright-rgb: 175, 202, 255;

    --color-heading: rgb(129, 171, 255);
    --color-heading-strong: rgb(65, 141, 255);
    --color-heading-bright: rgb(175, 202, 255);
    --color-text: rgb(255, 255, 255);
    --color-text-muted: rgb(163, 163, 163);
    --color-heading-dark: rgb(15, 22, 29);
    --color-text-dark: rgb(19, 27, 34);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
.heading {
    color: var(--color-heading);
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

strong {
    font-weight: bold;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-weight: normal;

    transition: 0.2s ease;
    font-size: 14px;
    background: var(--color-background-soft);

    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    box-shadow: 0 0 8px var(--color-border-shadow);
}

@media (max-width: 1280px) {
    #app {
        padding: 0;
        font-weight: normal;
        font-size: 13px;
    }
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}
