/* semantic color variables for this project */
:root {
    --color-background-rgb: 18, 24, 27;
    --color-background-soft-rgb: 35, 50, 60;
    --color-background-highlight-rgb: 82, 133, 155;

    --color-background: rgb(18, 24, 27);
    --color-background-soft: rgb(35, 50, 60);
    --color-background-mute: rgb(25, 34, 40);
    --color-background-highlight: rgb(82, 133, 155);
    --color-background-hyperlink: rgba(0, 168, 109, 0.25);

    --color-border: rgb(91, 120, 133);
    --color-border-shadow: rgb(48, 68, 77);
    --color-border-hover: rgb(100, 135, 151);
    --color-border-highlight: rgb(161, 193, 207);

    --color-heading-bright-rgb: 175, 202, 255;

    --color-heading: rgb(154, 188, 255);
    --color-heading-strong: rgb(65, 141, 255);
    --color-heading-bright: rgb(175, 202, 255);
    --color-text: rgb(255, 255, 255);
    --color-text-hyperlink: rgb(0, 168, 109);
    --color-text-muted: rgb(163, 163, 163);
    --color-heading-dark: rgb(15, 22, 29);
    --color-text-dark: rgb(19, 27, 34);

    --color-card-y-primary: rgb(203, 145, 28);
    --color-card-y-secondary: rgb(255, 239, 149);
    --color-card-s-primary: rgb(125, 125, 125);
    --color-card-s-secondary: rgb(170, 170, 170);
    --color-card-r-primary: rgb(192, 25, 22);
    --color-card-r-secondary: rgb(248, 143, 143);
    --color-card-g-primary: rgb(29, 171, 29);
    --color-card-g-secondary: rgb(140, 250, 140);
    --color-card-b-primary: rgb(45, 86, 153);
    --color-card-b-secondary: rgb(142, 158, 248);
    --color-card-u-primary: rgb(122, 75, 150);
    --color-card-u-secondary: rgb(191, 151, 228);
}

.hero-card-color-y {
    --card-background-primary: var(--color-card-y-primary);
    --card-background-secondary: var(--color-card-y-secondary);
}

.hero-card-color-s {
    --card-background-primary: var(--color-card-s-primary);
    --card-background-secondary: var(--color-card-s-secondary);
}

.hero-card-color-r {
    --card-background-primary: var(--color-card-r-primary);
    --card-background-secondary: var(--color-card-r-secondary);
}

.hero-card-color-g {
    --card-background-primary: var(--color-card-g-primary);
    --card-background-secondary: var(--color-card-g-secondary);
}

.hero-card-color-b {
    --card-background-primary: var(--color-card-b-primary);
    --card-background-secondary: var(--color-card-b-secondary);
}

.hero-card-color-u {
    --card-background-primary: var(--color-card-u-primary);
    --card-background-secondary: var(--color-card-u-secondary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

@font-face {
    font-family: 'ModestoPoster';
    src:
        url('/fonts/modesto_poster.woff2') format('woff2'),
        url('/fonts/modesto_poster.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
.heading {
    color: var(--color-heading);
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

strong {
    font-weight: bold;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-weight: normal;

    transition: 0.2s ease;
    font-size: 14px;
    background: var(--color-background-soft);

    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    box-shadow: 0 0 8px var(--color-border-shadow);
}

@media (max-width: 1280px) {
    #app {
        padding: 0;
        font-weight: normal;
        font-size: 13px;
    }
}

a {
    text-decoration: none;
    color: var(--color-text-hyperlink);
    /* color: hsla(160, 100%, 37%, 1); */

    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        color: var(--color-text);
        background-color: var(--color-background-hyperlink);
    }
}
